html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 5px 5px black;
  font-weight: bold;
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 15px 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.container {
  /* border: 4px solid black; */
  margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* width: 25%; */
  /* background-color: wheat; */
}







/* @media (max-width: 320px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .row input {
    width: 270px;
  }

  .button {
    width: 60px
  }
}

@media (max-width: 375px) {
  .container {
    width: 92%;
    margin: 0;
    padding: 0;
  }

  .row input {
    width: 270px;
  }

  .button {
    width: 60px
  }
}

@media (max-width: 425px) {
  .container {
    width: 92%;
    margin: 0;
    padding: 0;
  }

  .row input {
    width: 270px;
  }

  .button {
    width: 60px
  }
} */